---

	interface Props { title: string }

	const { title } = Astro.props
	
	import '@styles/base.css'
	import '@styles/fonts.css'
	import '@styles/theme.css'
	import '@styles/sidebar.css'
	import '@styles/global.css'
	import '@styles/page.css'
	import '@styles/settings.css'
	import '@styles/modal.css'
	import '@styles/box.css'
	import '@styles/alert.css'

---

<!doctype html>
<html lang="en" class="dark">
	<head>

		<meta charset="UTF-8" />

		<title>{ title }</title>

		<meta name="description" content="A simple and super secure way to generate and no-store your passwords." />
		<meta name="viewport" content="width=device-width" />

		<link rel="shortcut icon" type="image/svg+xml" href={ `/favicon.svg?v=1` } />
		<link rel="stylesheet" type="text/css" href="/libs/tabler-icons.min.css" />

		<script defer src="https://analytics.ovni.dev/script.js" data-website-id="57eb5725-a450-446a-b094-7748fe6342e4"></script>

	</head>
	<body>
		<slot />
	</body>
</html>